header{
    position: fixed;
    top: 0;
    width: 100%;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;       
  }

.background{
    width: 100%;
    height:100%;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    position:relative;
    animation: change 20s ease-in-out infinite;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

/* Dashboard list styling */
#reminder-title{
    color: black;
    padding: 10px;

}

.dash-btn{
    width: 27px;
    height: 27px;
    padding: 5px;
    flex: align-center;
}

.container-fluid{
    border-radius: 20px;
}

.card-header {
    padding: 10px;
    color: white;
}

#cardHeader {
    padding: 10px;
}

#dashboard-list{
    margin-top: 50px;
}

/* Countdown page todo list styling */
.true {
    text-decoration: line-through;
    opacity: 1.0;
    text-decoration-thickness: 3px;
    
}

.complete{
    background-color: #EE7752;
}



